// Add custom classes using Bootstrap's mixins
.btn-black {
  @include button-variant($black, $white);
}

.btn-green {
  @include button-variant($green, $white);
}


.text-primary {
  color: $primary !important;
}


body {
  background-color: $body-bg;
  color: $body-color;
}


.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;

  &:hover {
    background-color: var(--bs-primary-hover, #c59e00) !important;
    border-color: var(--bs-primary-hover, #c59e00) !important;
    color: #ff0000;
  }
}




// .btn-primary {
//   background: linear-gradient(45deg, $primary, darken($primary, 10%));
//   border: none;
// }


