// Custom Bootstrap variable overrides
$primary: #3C5726;
$secondary: #6c757d;
$success: #198754;
$danger: #ff0000;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;

$body-bg: #ffffff;
$body-color: #000000;

$border-color: #cbcbcb;


// ✅ Your custom design variables

$primary-hover: #2e421c;
$primary-bg-subtle: #778967;




// $table-border-color: rgba(102, 102, 102, 0.10);
// $table-header-color: #ffffff;
// $table-body-color: #ffffff;


// $btn-gradient-1: #364e22;
// $btn-gradient-2: #69a13b;
// $primary-gradient: linear-gradient(55deg, $btn-gradient-1, $btn-gradient-2 55%, $btn-gradient-1);







// $primary-hover: darken($primary, 10%); // Custom variable for hover
// $btn-hover-bg: $primary-hover; // Optional

// $btn-color: #fff;
// $btn-bg: $primary;
// $btn-border-color: $primary;
// $btn-hover-color: #fff;
// $btn-hover-bg: $primary-hover;
// $btn-hover-border-color: $primary-hover;



