/***Dash Board Card Style****/
/* .card-dashboard .card-content{ background:#fff;   } */

.card-dashboard{
  border-radius: 13px;
  background: #FFF;
  box-shadow: 5.864px 5.864px 52.777px 0 rgba(0, 0, 0, 0.05);

  border:1px solid #000;
  /* box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%) !important; */
}
.card-dashboard .card-body{
  padding:20px 15px;
}
.card-dashboard .media-body{
  padding-left:0px;
  padding-right:0px;
}

.card-dashboard h4.card-title{
    font-size: 18px;
    color: #929394;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1;
}
.card-dashboard h3.card-title{
  line-height:1;
  margin-bottom:0px;
  font-size: 25px;
  font-weight: 600;
  color:  #202224;
}

.card-dashboard .card-footer{
  padding: 0 15px 15px 15px;
  border: none;
  background-color: transparent;
}
.card-footer .card-text{
  color: #606060;
  font-weight: 600;
  font-size: 16px;
}
.card-footer .card-text span{
  color: #252525;
  font-weight: 600;
}
.stats-icon-wrapper{
  background-color: #F7FAF5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/* .card-dashboard .count-wrap{ background-color: #000018; border-radius: 7px; font-size: 18px;}
.card-dashboard .count-wrap svg { color: #42C900; font-size: 20px; vertical-align: middle; margin-bottom: 0px; margin-right: 15px; } */

/* .card-dashboard .card-title { color: #666666; font-size: 16px; padding:20px 25px 0 25px;margin-bottom: 0px; letter-spacing: normal; line-height: 1;} */
/* .card-dashboard .card-icon{ padding:0px 0px; } */
/* .card-dashboard .page-title a.btn-default{ padding-left:20px; padding-right:20px;  } */

/* .card-dashboard .card-footer{ padding-left: 25px; padding-right: 25px;}
.card-dashboard .card-footer h4{ line-height:1; margin-bottom:0px;font-size: 18px; font-weight: 300; color:#999999;}
.card-dashboard .card-footer .fa,
.card-dashboard .card-footer .fas { color: #000000; font-size: 20px; vertical-align: baseline; margin-right: 3px; margin-left: 3px; } */
/*================================ dashboard css end here =========================*/

@media (max-width:991px){
  .card-dashboard .card-body h3{
      font-size: 22px;
  }
  .card-dashboard .card-body h4{
      font-size: 20px;
  }
}
