/***** Buttons*****/


.btn {
  color: var(--bs-white);
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  transition: all .6s ease 0s;
  text-transform: capitalize;
  line-height: normal;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;

  &.disabled,
  &:disabled,
  fieldset:disabled & {
    color: #fff;
    pointer-events: none;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
  }
}

.btn-primary {
  color: var(--bs-white);
  background: var(--bs-primary-gradient) var(--x, 0) / 200%;
  transition: background-position 0.5s ease;

  &:hover,
  &:focus,
  &:active:not(:disabled):not(.disabled) {
    color: var(--bs-white);
    --x: 100%;

    box-shadow: none;
    outline: none;
    border-color: transparent;
  }
}

.btn-link{
  color: var(--bs-primary);
}
/****** Button Primary ******/

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  color: var(--bs-white);
  outline: none;
  box-shadow: none;
  border-color: transparent;
}


/****** Button Secondary ******/
.btn-secondary {
  color: var(--bs-white);
  background: var(--secBtn);
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  color: var(--bs-white);
  background-color: var(--primBtn);
  outline: none;
  border-color: var(--primBtn);
}


@media screen and (max-width: 575px) {
  .btn {
    font-size: 14px;
    height: unset;
  }
}

@media screen and (max-width: 499px) {
  .btn {
    min-width: unset;
  }
}