:root {
  --bs-body-bg: #ff0000;
  --bs-body-color: #000000;
  --bs-border-color: #cbcbcb;
  // --bs-primary: #3C5726;
  --bs-primary-hover:#ff0000;
  // --bs-primary-gradient: linear-gradient(135deg, #91b871, #3C5726);
  --bs-header-bg: #D7E8D1;
  --bs-table-border-color: rgba(215, 215, 215, 0.18);
}
