
// _variables.scss
$primary: #3C5726;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;


$body-bg: #ffffff;
$body-color: #000000;

$border-color: #cbcbcb;

// --bs-border-color


$primary-btn:  #3C5726;
$primary-gradient: linear-gradient(135deg, #436825, #3C5726);

// @import "bootstrap/scss/bootstrap";

